body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
}

.calculator {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 450px;
    text-align: center;
}

#display {
    width: 90%;
    height: 50px;
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    height: 60px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}
